<h1>Voici ta réponse, Léo être de lumière</h1>
<div class="bg-warning m-5">
<p>La question c'était: <%= @question %></h2>
<p>La réponse c'est: <%= @answer %></p>
</div>
<p><%= link_to "Ask a new question", ask_path %></p>
